@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;400;600&display=swap');

* {
  font-family: 'Advent Pro', sans-serif;
}

body {
  margin : 0;
  padding : 0;
}

input[type="file"]::file-selector-button {
  border-style: dashed;
  border-color: #F2F2F2;
  border-radius: 0.5rem;
  color: #F2F2F2;
  padding : 5%;
  width: 100%;
  height: 100%;
  background-color: #2A2A2A;
  transition: 0.8s;
}
/* <div className="relative m-[5%] py-[5rem] border-2 rounded-lg border-dashed cursor-pointer"> */

input[type="file"]::file-selector-button:hover {
  background-color: #F2F2F2;
  color: #2A2A2A;
  cursor: pointer;
}
